@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
:root {
  /* Light theme (default) */
  --primary-color: #CF1034;
  --text-color: #000;
  --background-color: #ffffff;
  --border-radius: 40px;
  --transition-duration: 0.5s;
  --header-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --dropdown-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* [data-theme="dark"] {
  --primary-color: #ff1a1a;
  --text-color: #ffffff;
  --background-color: linear-gradient(#0d2032, #000)  !important; ;
  --header-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  --dropdown-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
} */

@font-face {
  font-family: 'Rubik';
  src: url('src/assets/fonts/Rubik-Regular.eot');
  src: local('Rubik Regular'), local('Rubik-Regular'),
  url('src/assets/fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
  url('src/assets/fonts/Rubik-Regular.woff') format('woff'),  
  url('src/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
 }

body {
  font-family: 'Rubik';
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition-duration), color var(--transition-duration);
} 
body::selection{
  background: rgb(207, 16, 52);
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
legend,
fieldset {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

legend {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  border: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  list-style: decimal;
  margin: 0;
  padding: 0;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  text-decoration: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
}

/* Утилитарный класс для скрытия элементов визуально, но оставление их доступными для скринридеров */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

/* Класс, чтобы скрыть для скринридеров */
.not-src-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

img,
svg {
  max-inline-size: 100%;
  block-size: auto;
}
